@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #34495e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 52, 73, 94;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #34495e;
}
